{
  "database": {
    "postgres": {
      "iuffy": {
        "db": "iuffy",
        "host": "localhost",
        "port": 5432,
        "credentials": {
          "username": "postgres"
        },
        "default": true
      },
      "postgres": {
        "db": "postgres",
        "host": "localhost",
        "port": 5432,
        "credentials": {
          "username": "postgres"
        }
      }
    }
  },
  "secret": {
    "hash": "123-456-789-abc"
  }
}
